.link-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.social-button {
  width: 25px;
  height: 25px;

  svg {
    width: 25px;
    height: 25px;
    transition: fill;
    transition-duration: 0.3s;
    fill: $darkest;
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: $lighter;
    }
  }
}
